@model User
@{
    Layout = "~/Views/Shared/_blank.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12 auth-wrapper border">
            <div class="auth-logo">
                <img src="~/img/twit.png" alt="" srcset="">
            </div>
            <div class="auth-form">
                @section Scripts{
                    
                    @{
                        <partial name="Authentication/_SignIn" />
                    }
                }
       

            </div>
        </div>
    </div>
</div>


