<div class="sidebar">
    <ul class="sidebar-list">

        <li class="sidebar-list-item">
            <img src="~/img/twit.png" class="logo" />
        </li>
        <li class="sidebar-list-item">Acceuil</li>
        <li class="sidebar-list-item">Explorer</li>
        <li class="sidebar-list-item">Notifications</li>
        <li class="sidebar-list-item">Messages</li>
        <li class="sidebar-list-item">Profile</li>
        <li class="sidebar-list-item">
            <button>Tweeter</button>
        </li>
    </ul>
</div>