@{
    Layout = "~/Views/Shared/_blank.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12 auth-wrapper border">
            <div class="auth-logo">
                <img src="~/img/twit.png" alt="" srcset="">
            </div>
            <div class="auth-form">
            @*     @if (Model.connectionState.IsSignIn)
                {
                  
                            <partial name="Home/_SignIn" model="Model.userDto" />
               
                }
                else
                {

                    <partial name="Home/_SignUp" model="Model.userDto" />
                
                }
 *@

            </div>
        </div>
    </div>
</div>


