.home {
    &-wrapper {
        border-left: solid 1px rgb(178, 174, 174, 0.25);
        border-right: solid 1px rgb(178, 174, 174, 0.25);
    }
}


.make-tweet {
    margin-top: 20px;
    padding: 15px;
    border-bottom: groove 1px;
    border-color: rgb(178, 174, 174, 0.25);
    display: flex;

    &-profile {
        &-img {
            height: 70px;
            border-radius: 50%;
        }
    }

    &-wrapper {
        .make-tweet {
            display: flex;
            justify-content: space-between;



            &-text {
                padding-top: 20px;
                padding-bottom: 20px;
                margin-bottom: 20px;

                &-content {
                    min-width: 100%;
                    display: block;
                    border: none;
                    overflow: hidden;
                    resize: both;
                    min-height: 40px;
                    line-height: 20px;
                    font-size: 20px;

                    &:-webkit-autofill,
                    &:-webkit-autofill:hover,
                    &:-webkit-autofill:focus,
                    &:-webkit-autofill:active {
                        caret-color: #fff;
                    }

                    &:focus {
                        outline: none;
                        caret-color: red;
                    }

                    &:hover {
                        outline: none;
                        cursor: text;
                    }



                    &[contenteditable]:empty::before {
                        content: "Quoi de neuf??";
                        color: gray;
                        border: none;
                        outline: none;
                    }
                }
            }

            &-media {
                border: solid black 1px;
                margin-bottom: 20px;
                border-radius: 10px;
                overflow: hidden;

                &-img {
                    width: 100%;
                }
            }

            &-details {
                margin-bottom: 20px;

                .upload {
                    width: 20%;
                    display: inline;
                    border: none;
                    background-color: transparent;
                    width: auto;

                    &:hover {
                        border: none;
                        background-color: rgb(138, 176, 237);
                        border-radius: 10%;
                    }

                    &:active {
                        border: none;
                    }

                    &:focus {
                        border: none;
                    }
                }
            }

            &-send {
                text-align: end;

                .btn {
                    width: 20%;
                    display: inline;
                    align-self: end;

                    &:active {
                        outline: none;
                        border: none;
                    }



                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }
}

.tweet {
    border-bottom: groove 1px;
    border-color: rgb(178, 174, 174, 0.25);
    display: flex;

    &-wrapper {
        display: flex;
        justify-content: left;
        padding: 20px;
        border-bottom: groove 1px;
        border-color: rgb(178, 174, 174, 0.25);

        &:hover {
            background-color: darkgray;
        }
    }

    &-make-wrapper {
        display: flex;
        justify-content: left;
        padding: 20px;

        &:hover {
            background-color: darkgray;
        }
    }

    &-profile {

        &-img {
            height: 70px;
            border-radius: 50%;
        }
    }

    &-content {

        &-info {
            margin-bottom: 10px;
        }

        &-text {
            min-width: 100%;
            display: inline;
            padding: 10px;
            overflow: hidden;
            resize: both;
            min-height: 40px;
            line-height: 20px;



            &:focus {
                outline: none;
                caret-color: red;
            }

            &:hover {
                outline: none;
                cursor: text;
            }


            &[contenteditable]:empty::before {
                content: "Quoi de neuf??";
                color: gray;


                &:hover {
                    outline: none;
                    caret-color: red;
                }
            }
        }

        &-media {
            border: solid 1px black;
            border-radius: 10px;
            overflow: hidden;
            margin-bottom: 10px;

            &-img {
                width: 100%;
            }
        }

        .make {
            border: none;
        }

        &-details {
            display: flex;
            justify-content: space-between;

            .btn {
                border-radius: 50%;

                &:hover {
                    background-color: rgb(0, 148, 255);
                }

                &:active {
                    border: none;
                }

                &:focus {
                    border: none;
                }
            }
        }
    }
}