.home {
    &-wrapper {
        border-left: solid 1px black;
        border-right: solid 1px black;
    }
}
.make-tweet {
    margin-top: 20px;
    padding: 15px;
    justify-content: space-around;
    border-bottom: groove  1px black;
    &-profile {
        width: 10%;
        display: inline;
    }

    &-content {
        width: 70%;
        display: inline;
        border: none;
        padding: 10px;
        overflow-wrap: break-word;

        &:focus {
            border: none;
        }

        &:hover {
            border:none;
        }
        &:active{
            border:none;
        }
    }

    &-btn {
        width: 20%;
        display: inline;
    }
}

.tweet{

    &-info{}
    &-content{}
    &-media{}
    &-details{

    }
}