            <div class="make-tweet">
                <img src="~/img/profile.png" class="make-tweet-profile" />
    <div class=" make-tweet-content">
        <span class=" make-tweet-content" placeholder="A quoi pensez-vous aujourd'hui?" role="textbox" contenteditable></span>
                </div>
    
                <button class="btn btn-group btn-secondary make-tweet-btn">
                Upload Media
            </button>
        
    </div>

<div class="tweet-wrapper">
    <div class="tweet-profile">
        <img src="~/img/profile.png" class="tweet-profile-img" />
    </div>
    <div class="tweet-content">
 

            <span class=" tweet-content-text" placeholder="A quoi pensez-vous aujourd'hui?" role="textbox" contenteditable></span>


        <div class="tweet-content-media">

        </div>
        <div class="tweet-content-details">
            <button class="btn">
                <i class="fa-solid fa-photo-film"></i>
            </button>
         
        </div>
    </div>

</div>


