

<div class="make-tweet ">
    <div class="make-tweet-profile col-2 ">
        <img src="~/img/profile.png" class="make-tweet-profile-img" />
    </div>
    <div class="make-tweet-wrapper col-10 ">


        <div class="make-tweet-text">
            <span class="make-tweet-text-content" placeholder="A quoi pensez-vous aujourd'hui?" role="textbox"
                  contenteditable></span>
        </div>


        <div class="make-tweet-media">
            <img src="~/img/tray.jpg" class="tweet-content-media-img" />

        </div>
        <div class="make-tweet-details">
            <button class="upload">
                <i class="fa-solid fa-photo-film"></i>
            </button>

        </div>
        <div class="make-tweet-send">
            <button class="btn btn-primary">
                Twitter
            </button>

        </div>
    </div>

</div>


