            <div class="make-tweet">
                <img src="~/img/profile.png" class="make-tweet-profile" />
                <input type="text" class=" make-tweet-content" placeholder="A quoi pensez-vous aujourd'hui?" />
                <button class="btn btn-group btn-secondary make-tweet-btn">
                Upload Media
            </button>
        
    </div>
