<div class="row">
    <div class="col-12">
        <div class="tweet-wrapper">
            <div class="tweet-info">
                <img src="~/img/profile.png" class="tweet-profile" />

                </div>
            <div class="tweet-content">
                <input type="text" class=" tweet-content" placeholder="A quoi pensez-vous aujourd'hui?" />

            </div>
            <div class="tweet-media">
            </div>
            <div class="tweet-details">
                <button class="btn btn-group btn-secondary">
                    Upload Media
                </button>
            </div>
      
        </div>
        
    </div>

    
</div>