@using Interfaces.DTO.Tweets;
@model TweetResponse




        <div class="tweet-wrapper ">
            <div class="tweet-profile col-2">
                <img src="~/img/profile.png" class="tweet-profile-img" />
            </div>
            <div class="tweet-content col-10 ">
                <div class="tweet-content-info">
                    <span id="name" class="tweet-info-name">
                        @Model.IdTweet
                    </span>
                    <span> @@Username</span>
            <span>
                ~                         @Model.CreatedTime
            </span>
                </div>
                <p class="tweet-content-text">
                    
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                  

                </p>
                <div class="tweet-content-media">
                    <img src="~/img/tray.jpg" class="tweet-content-media-img" />

                </div>
                <div class="tweet-content-details">
                    <button class="btn">
                        <i class="fa-regular fa-comment"></i>

                    </button>
                      <button class="btn">
                        <i class="fa-solid fa-retweet"></i>

                    </button>
                    <button class="btn">
                        <i class="fa-regular fa-heart"></i>
                    </button>
                </div>
            </div>
      
        </div>
        

