

<div class="sidebar">
    <ul class="sidebar-list">

        <li class="sidebar-list-item">
            <img src="~/img/twit.png" class="logo" />
        </li>
        <li class="sidebar-list-item"><i class="e-icons">Icon</i> Acceuil</li>
        <li class="sidebar-list-item"><i class="e-icons">Icon</i> Explorer</li>
        <li class="sidebar-list-item"><i class="e-icons">Icon</i> Notifications</li>
        <li class="sidebar-list-item"><i class="e-icons">Icon</i> Messages</li>
        <li class="sidebar-list-item"><i class="e-icons">Icon</i> Profile</li>
        <li class="sidebar-list-item">
            <button class=" btn btn-group btn-primart sidebar-btn">Tweeter</button>
        </li>
    </ul>
</div>