
@{
    ViewBag.Title = "Acceuil Tweets";
}

<div class="container-fluid home-wrapper">
    <div class="row">
        <div class="col-12">
            <h1>Acceuil</h1>
        </div>
        <div class="col-12">
            <partial name="./Partials/_MakeTweet.cshtml" />
        </div>
        @foreach (var tweet in ViewBag.tweetList)

        {
                    <div class="col-12">

                <partial name="./Partials/_Tweet.cshtml" for="@tweet" />

            </div>

            }
    </div>
</div>